* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #000;
}
.main-highlight-wrapper {
  background: #fafafa;
  margin-top: 44px;
  padding: 20px 0;
}
.links-wrapper ul {
  list-style: none;
}
.model {
  font-size: 0.85em;
}
.product-title {
  font-weight: 700;
  font-size: 56px;
}
.brief-description {
  font-size: 2em;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/* Second Highlight Section */
.second-hightlight-wrapper {
  background-image: url("../resource/images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
.title-wraper {
  font-weight: 600;
  font-size: 56px;
}
.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}
.price-wrapper {
  color: #86868b;
  font-size: 0.85em;
}
/* Third Highlight Section */
.third-highlight-wrapper {
  background-image: url("../resource/images/home/iphone11-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
}
