* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #000;
}
/*Fivth Highlight Section */
.fifth-heghlight-wrapper {
  background: #fff;
}

.fifth-heghlight-wrapper .left-side-inner-wrapper {
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
	background-image:  url("../resource/images/home/apple-tv-background.jpg");
	padding-top: 54px; 
}
.fifth-heghlight-wrapper .right-side-inner-wrapper {
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
	padding-top: 54px;
	background-image:  url("../resource/images/home/air-pods.jpg"); 
	color: #fff; 
	background-size: initial;
	background-color: #000;
	background-position: bottom;

}
.logo-wrapper {
	font-size: 40px;
	font-weight: bold;
}
.tvshow-logo-wraper {
	padding: 180px 0 150px;
}
.watch-more-wrapper a {
	text-decoration: none;
	font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
